<section class="ui raised segment">
        <div class="ui form column stacked segment">
                <form action="/details/edit_POI/{{points._id}}" method="POST">
                    <div class="field">
                        <label>Name</label><input type="text" name="name" value="{{points.name}}">
                    </div>
                    <div class="field">
                        <label>Description</label><input  type="text" name="description" value="{{points.description}}">
                    </div>
                    <div class="field">
                        <label>Category</label><input  type="text" name="costalZone" value="{{points.costalZone}}">
                    </div>
                    <div class="field">
                        <label>Latitude</label><input  type="text" name="lat" value="{{points.coordinates.geo.lat}}">
                    </div>
                    <div class="field">
                        <label>Longitude</label><input type="text" name="long" value="{{points.coordinates.geo.long}}">
                    </div>
                    <button class="ui blue submit button">Edit Point of Interest</button>
                </form>
        </div>
</section>


<section class="ui raised segment">
    <div class="ui segment">
        <div class= "column">
            {{#each points.image}}
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{url}}">
                </div>
                <div class="content">
                    <a href=/deleteImage/{{public_id}}> <i class="icon red trash"></i></a>{{public_id}}
                </div>
            </div>
            {{/each}}
        </div>
    <div>
</section>


