<section class="ui raised segment">
    <div class="ui grid">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Icone</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Contributor</th>
                </tr>
                </thead>
                <tbody>
                {{#each points}}
                    <tr>
                        <td>
                            <a href="/details/view_POI/{{_id}}" class="ui icon button">
                            <i class="icon teal marker"></i>

                            <a href="/details/view_edit_POI/{{_id}}" class="ui icon button">
                            <i class="icon edit"></i>

                            <a href="/details/delete_POI/{{_id}}" class="ui icon button">
                                <i class="icon red trash"></i>

                        </td>
                        <td> {{name}} </td>
                        <td> {{description}} </td>
                        <td> {{costalZone}} </td>
                        <td> {{coordinates.geo.lat}} </td>
                        <td> {{coordinates.geo.long}} </td>
                        <td> {{contributor.firstName}} {{contributor.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
    </div>
</section>